<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.rootmytech.meteo" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>AppMétéo</name>
	<description>
		Application de gestion et de suivi météorologique dans le cadre d'un projet ETNA.
	</description>
	<author email="dasilv_a@etna-alternance.net" href="https://github.com/Metalhearf/app_meteo">
		RootMyTech Team
	</author>
	<content src="index.html" />
	<access origin="*" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="false" />
</widget>
